# Shopify Store
VITE_SHOP_ID=your-store.myshopify.com
VITE_STOREFRONT_API_TOKEN=your_storefront_access_token

# Hydrogen
HYDROGEN_ASSET_BASE_URL=/
PUBLIC_STORE_DOMAIN=your-store.myshopify.com

# Oxygen
OXYGEN_API_TOKEN=your_oxygen_api_token
